APP_ID=0x381994d6B9B08C3e7CfE3A4Cd544C85101b8f201 # You can replace this with your App secret from  https://dev.reclaimprotocol.org/dashboard
APP_SECRET=0xfdc676e00ac9c648dfbcc271263c2dd95233a8abd391458c91ea88526a299223 # You can replace this with your App secret from https://dev.reclaimprotocol.org/dashboard
RPC_URL=https://testnet-rpc.mechain.tech
PRIVATE_KEY= # Replace with your own, without the 0x prefix
TASK_CONTRACT_ADDRESS=0xB51FCb41fF11e0445600f63D8c38f955DcCB0B2c 
GOVERNANCE_CONTRACT_ADDRESS=0x4A79C4fBe6c2F849D0fD4da8c24214491BaF41cd 
