APP_ID=0x381994d6B9B08C3e7CfE3A4Cd544C85101b8f201 # You can replace this with your App secret from  https://dev.reclaimprotocol.org/dashboard
APP_SECRET=0xfdc676e00ac9c648dfbcc271263c2dd95233a8abd391458c91ea88526a299223 # You can replace this with your App secret from https://dev.reclaimprotocol.org/dashboard
RPC_URL=https://testnet-rpc.mechain.tech
PRIVATE_KEY= # Replace with your own, without the 0x prefix
TASK_CONTRACT_ADDRESS=0xBb6817f565e5bc42B4458B0287e99289E2425030 
GOVERNANCE_CONTRACT_ADDRESS=0xdD8AeD50B497979e7644213A80a891F89be5c6fA 
