APP_ID=0x381994d6B9B08C3e7CfE3A4Cd544C85101b8f201 # You can replace this with your App secret from  https://dev.reclaimprotocol.org/dashboard
APP_SECRET=0xfdc676e00ac9c648dfbcc271263c2dd95233a8abd391458c91ea88526a299223 # You can replace this with your App secret from https://dev.reclaimprotocol.org/dashboard
RPC_URL=https://testnet-rpc.mechain.tech 
PRIVATE_KEY= # Replace with your own, without the 0x prefix
TASK_CONTRACT_ADDRESS=0xd6534f52CEB3d0139b915bc0C3278a94687fA5C7 
GOVERNANCE_CONTRACT_ADDRESS=0xCc08210D8f15323104A629a925E4cc59D0fa2Fe1 
